<html lang = "eng">
	<head>
		<title>Express.js Form</title>
		<link rel = "stylesheet" href = "styles/style.css">
	</head>
	<body>
		<h1>Adding a vaca wish list destination!</h1>
		 <form method = "POST" action = "/api/destinations/">
			<input type "text" name = "location">
			<input type "text" name = "id">
			<button type = "submit">Add</button>button>
		 </form>
	</body>
</html>