<!DOCTYPE html>
  <html lang = "en">
	<head>
		<title>Welcome to my new API in Express!</title>
		<link rel = "stylesheet" href = "styles/style.css">
	</head>
	<body>
		<h1>Express and EJS (markdown)</h1>
		<div class = "container">
			<p>This is a parapraph section!</p>
		</div>
	</body>
</html>